/* app css stylesheet */
body {
  font-family: sans-serif;
  background-color: ghostwhite;
}

.menu {
  float: left;
  list-style: none;
  margin-bottom: 0px;
  padding: 0px 20px;
}

.menu > li {
  display: inline;
  border: 2px solid lightgray;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
}

div {
  margin: auto;
}

.container {
  position: relative;
  min-height: 900px;
  min-width: 1100px;
  overflow: auto;
  clear: left;
}

.left_sidebar {
  position: absolute;
  float: left;
  display: inline;
  border: solid 5px white;
  width: 280px;
  height: 100%;
}

.left_sidebar ul {
  list-style: none;
  padding: 0 0 1px;
}

.left_sidebar ul li {
  display: inline;
}

.left_sidebar button {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: blue;
  color: white;
}

.content_area {
  position: relative;
  left: 280px;
  min-height: 900px;
  overflow: auto;
}

.content_area div {
  border: solid 5px white;
  width: 100%;
  text-align: center;
  clear: both;
}

.table {
  position: absolute;
  top: 0px;
  height: 50%;
}

.chart {
  position: absolute;
  bottom: 0px;
  height: 50%;
}

.query_table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}